{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
<div id="services-list" class="container">
    <h1>Nos Services</h1>
    <div id="dynamic-service-list"></div>
</div>
{% endblock %}
